<h1>Create New List</h1>

<%=form_for [@board,@list] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :priority %>
  <%= f.text_field :priority %>
  <br>
  <%= f.label :icon %>
  <%- f.text_field :icon %>
  <%=f.submit %>
  <% end %>

