<h1><%= @list.title %> </h1>
<h5><%= link_to "Add Task", new_list_item_path(@list) %> </h5><hr>
<% @items.each do |item| %>
  <h3><%= item.title %><br>
  <%= item.details %></h3>
  <h5><%=link_to 'Edit', edit_list_item_path(@list,item)%> ||
  <%=link_to 'Delete', list_item_path(@list, item), method: :delete %></h5>
<% end %>
